body > .box{
    margin: 10px;
    padding: 5px;
    border-top: solid 5px darkcyan;
    border-bottom: solid 5px darkcyan;
}
body > .position{
    width: 300px;
    height: 150px;
    background-color: antiquewhite;
}
body > .pseudo{
    width: 300px;
    height: 150px;
    background-color: chartreuse;
}
body > div > p > span{
    visibility: hidden;
}
body > div > p:hover > span{
    visibility: visible;
}
body > div > p > input:hover{
    background-color: brown;;
}