body > div.menu{
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
body > div.menu > ul{
    margin: 0;
    padding-left: 40px;
}
body > div.menu > ul > li{
    float: left;
    list-style: none;
    margin-left: 10%;
}