:root{
    --radius : 100px;
}
body > section{
    margin: 50px;
}
body > section > div{
    width : var(--radius);
    height : var(--radius);
    border-radius: 50%;
    float: left;
    margin: 10px;
    text-align: center;
}
body > section > div > a{
    position: relative;
    top: calc(var(--radius) / 2 - 15px);
    color: purple;
    font-weight: 700;
    font-size: 25px;
    text-decoration-line: none;
}
body > section > div > a:hover{
    color: white;
}
body > section > div:nth-child(1){
    background-color: darksalmon;
}
body > section > div:nth-child(2){
    background-color: indianred;
}
body > section > div:nth-child(3){
    background-color: saddlebrown;
}