body > div{
    background-color: grey;
    width: 400px;
    height: 200px;
    margin: 10px;
}
body > div > div{
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
body > div > div > div > table{
    border-collapse: collapse;
    border: 2px solid blueviolet;
    margin: 0 auto;
}
body > div > div > div > table > tbody > tr{
    padding: 2px;
    border-bottom: 2px solid red;
}
body > div > div > div > table > tbody > tr > td > label > input{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    margin: 3px;
}
