/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
/* 반응형 웹 */
@media only screen and (orientation: portrait) {
    .left {
        display: none;
    }
}
@media only screen and (orientation: landscape) {
    .left {
        width: 30%;
        float: left;
    }
    .right {
        width: 70%;
        float: left;
    }
}
/* 기본 콘텐츠 구성 */
.container {
    display: flex;
}
.content {
    padding: 16px;
}
li {
    padding: 24px 0;
    border-bottom: 1px solid #c7c7c7;
}