body > div{
    width: 400px;
    height: 300px;
    border: 5px dashed orange;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    background-image: url("./img/test_img_01.png");
    background-repeat: no-repeat;
    background-position: bottom 1px left 1px;
    background-size: calc(30%);
}
body > div:hover{
    border: 5px dashed darkorange;
    background-image: url("./img/test_img_02.png");
}
body > div > hr{
    height: 2px;
    background-color: red;
}