ul li a{
    width: 120px;
}
ul li:nth-child(2n+1) a{
    color: red;
}
ul li:nth-child(2n) a{
    color: green;
    font-size: 1.5em;
}
ul li:nth-child(3){
    background-color: cyan;
    width: 300px;
}